.talk-bio {
  display: flex;
  padding: 0 8px 13px;

  .mentor-thump {
    width: 50px;
    border-radius: 25px;
    margin-inline-end: 12px;
  }

  .title-container {
    margin-top: 3px;
  }

  .title {

  }

  .title-small {
    color: #00000085;
  }


}
